svg {
  border: 1px solid black;
}

#nodes g text.task-icon {
  fill: #999;
}

path.link {
  fill: none;
  stroke: #999;
  stroke-width: 0.5;
}

path.arrowHead {
  fill: #999;
}

rect.node {
  fill: white;
  stroke: #999;
  stroke-width: 0.5;
  rx: 3;
  ry: 3;
}
