/* You can add global styles to this file, and also import other style files */
body {
  font-family: proxima-nova, sans-serif;
  .bubble {
    display: inline-flex;
    flex-basis: 300px;
    align-content: stretch;
    align-items: center;
    flex: 0 0 auto;
    background: #3C8DBC;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    .sidebar-trig {
      position: relative;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #fff;
      margin: 5px;
      cursor: pointer;
      .elipsis {
        color: blue;
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
      }
    }

    .text-contain {
        display: inline-flex;
        flex: 1 0 auto;
        align-items: center;
        background: #fff;
        border-radius: 3px 0 0 3px;
        padding: 0px 20px;
        .bubble-text {
            font-weight: medium;
            white-space: nowrap;
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .icon {
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
    }
  }
}

.sidebar {
  display: block;
  width: 400px;
  opacity: 0;
  top: 0;
  position: fixed;
  height: 100%;
  background: blue;
  right: -400px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  &.show {
    opacity: 1;
    right: 0;
  }
}

svg {
  border: 1px solid black;
}

#nodes g text.task-icon {
  fill: #999;
}

path.link {
  fill: none;
  stroke: #999;
  stroke-width: 0.5;
}

path.arrowHead {
  fill: #999;
}

rect.node {
  fill: white;
  stroke: #999;
  stroke-width: 0.5;
  rx: 3;
  ry: 3;
}
